html, body{
    padding:0;
    margin:0;
    font-family:"Raleway";
}

header {
    display:flex;
    width:100%;
    align-content: stretch;
    flex-flow: wrap;
}

nav {
    display:flex;
    order:2;
}

header a {
    display:flex;
    align-items:center;
    text-decoration:none;
    padding: 0 15px;
    color:#333333;
}

header a:hover {
    color:#74a4fd;
}

.logo {
    flex-grow:1;
    padding: 10px 0 0 30px;
}

.menu1:hover {
    border-top:3px #0065FC solid;
}

.menu2:hover {
    border-top:3px #0065FC solid;
}

.menu3:hover {
    background:#0065FC;
    color:#fff;
    transition-duration: 1s;
}

.login {
    display:flex;
    order:3;
    align-content: center;
}

.login a {
    color:#0065FC;
}

#recherche {
    margin:50px 0 0 30px;
}

#recherche h1{
    font-size:1.3em;
}

#recherche h5 {
    font-weight:normal;
    margin-top:-10px;
}

#formulaire {
    display:flex;
    width:300px;
}

#formulaire label{
    background:#F2F2F2;
    width:30px;
    border-radius:10px 0 0 10px;
}

#formulaire label .fas {
    display: flex;
    justify-content: center;
    padding:10px;
}

#formulaire button {
    background:#0065FC;
    color:#fff;
    font-weight:bold;
    border:none;
    border-radius:0 10px 10px 0;
    font-size:0.8em;
    padding:10px;
}

#formulaire input {
    border:1px solid #F2F2F2;
    color:#000;
    font-weight:bold;
}

#formulaire button:hover {
    box-shadow: inset rgb(21, 17, 255) 0px 0px 5px;
    transition-duration: 0.2s;
}

#filtres {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:50%;
    color:#000;
    font-weight:bold;
    margin-top:40px;
    padding-right:50px;
    font-size:0.9em;
}

#filtres p {
    margin: 0 10px;
}

.imgFiltre {
    display:flex;
    justify-content:center;
    align-content:center;
    background:#dbe7fd;
    border-radius:50px;
    width:40px;
    height:40px;
    overflow:hidden;
    margin-left:-10px;
}

#filtres .fas {
    display:flex;
    align-items:center;
    font-size:1.2em;
}

.filtre1, .filtre2, .filtre3, .filtre4 {
    display:flex;
    border-radius:40px;
    padding:0px 10px; 
    border:2px solid #F2F2F2;
    align-items: center;
    margin-bottom:10px;
}

.info {
    display:flex;
    align-items:center;
    color:#333;
    font-size:0.7em;
    margin-top:30px;
}

.info .fas {
    padding-right:10px;

}

.blue {
    color:#0065FC;
}

.gray {
    color:#dbe7fd;
}

.black {
    color:black;
}

.contenu {
    display:flex;
    align-items: stretch;
    margin:30px 0;
}

#allResults {

    border-radius:30px;
    width:60%;
    background:#F2F2F2;
    margin:0px 30px;
}

#allResults h2{
    margin:40px 40px;
    font-size:1.em;
}

#allResults .bottom {
    padding: 10px 0 0 50px;
    font-weight:bold;
    font-size:1em;
}

#cards1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card1 {
    background:#fff;
    border-radius:20px;
    box-shadow:#caca 0 0 10px;
    margin:0 20px 20px 20px;
    width:28%;
    padding: 10px;
}

.card1 h3 {
    margin-top:10px;
} 

.card1 p {
    font-size:1.2em;
    margin-top:0px;
}

.card1 .fas {
    margin-top:5px;
}

.imageCard1 {
    display: inline-block;
    width:100%;
    height:150px;
    border-radius:15px 15px 0 0;
    overflow: hidden;
    padding:0!important; 
    margin:0!important; 
}

.imageCard1 img {
    object-fit: cover;
    object-position: bottom;
    width:100%;
}

#mostPopular {
    border-radius:30px;
    width:30%;
    background:#F2F2F2;
    margin:0px 30px;
    flex:1;
}

#mostPopular .title {
    display:flex;
    align-items: center;
    padding:10px 0;
    width:100%;
}

#mostPopular h2 {
    display:flex;
    margin: 40px 0 20px 40px;
    font-size:1.5em;
    flex-grow:1;
}

#mostPopular .title .fas {
    padding:20px 20px 0 0;
    font-size:1.5em;
}

#mostPopular .title p {
    flex-grow:1;
    padding:10px 30px;
}

.detailsPopular {
    display:flex;
    flex-direction: column;
    width:60%;
    margin-top:10px;
}

.detailsPopular p {
    margin-top:-10px;
    font-size:1.2em;
}

.detailsPopular .fas {
    margin-top:40px;
}

#cards2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card2 img {
    flex:1;
    width:100%;
    height:150px;
}

.card2 p img {
    width:50px;
}

.card2 {
    display:flex;
    background:#fff;
    border-radius:20px;
    box-shadow:#caca 0 0 10px;
    justify-content: center;
    margin-bottom:50px;
    width:85%;
    height:26%;
}

#cards2 img {
    display:flex;
    border-radius:20px 0 0 20px;
    height:150px;
    padding:10px;
    object-fit: cover;
    object-position: center;
}

.titreActivites {
    margin: 10px 30px;
}

#activites {
    display:flex;
    flex-wrap: nowrap;
    align-items: stretch;
    width:100%;
    position:relative;
    justify-content: space-between;
    box-sizing: border-box;
    padding:30px;
}

.activitesColonne1 {
    width:24%;
    height:600px;
}

.activitesColonne1 .card3 {
    height:100%;
}

.activitesColonne2, .activitesColonne3 {
    display:flex;
    width:24%;
    flex-direction: column;
    justify-content: space-between;
    height:600px;
}

.activitesColonnes1 img {
    width:unset;
    height:100%;
}

.activitesColonne2 img, .activitesColonne3 img {
    min-width:100%;
    height:unset;
    width:unset;
}

.activitesColonne2 .card3, .activitesColonne3 .card3 {
    height:46%;
}

.activitesColonne2 .card3:nth-child(1) {
    height:53%;
}

.activitesColonne2 .card3:nth-child(2) {
    height:38%;
}

.card3 {
    display:flex;
    justify-content:center;
    position:relative;
    box-shadow:#caca 0 0 10px;
    border-radius: 20px;
    width:100%;
    height:100%;
    box-sizing: border-box;
    overflow:hidden;
    z-index:1;

}

.card3 img {
    display:flex;
    position:relative;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    object-position: center;
}

.card3 h5 {
    position:absolute;
    z-index:2;
    bottom:0;
    background:#fff;
    margin:0;
    left:0;
    right:0;
    padding:1.5em;
}

footer {
    display:flex;
    width:100%;
    height:200px;
    background:#F2F2F2;
    margin-bottom:0px;
    font-size:0.9em;
}

#footer {
    display:flex;
    justify-content: space-between;
    width:80%;
    margin:auto 80px;
}

#footer p {
    line-height:150%;
}

.titreFooter {
    font-weight:bold;
    line-height:300%;
}


@font-face {
    font-family:"Raleway";
    src:url(./Raleway.ttf);
}

@media (min-width: 320px ) and (max-width: 768px)  {

    nav {
        display:flex;
        justify-content: center;
        order:3;
        width:100%;
    }

    .logo {
        flex-grow:1;
        padding: 10px 0 0 10px;
    }

    .menu1, .menu2 {
        display:flex;
        justify-content: center;
        height:50px;
        width:50%;
        border-bottom:3px #F2F2F2 solid;
    }
    
    .menu3 {
        font-weight: bold;
    }

    .menu1:hover, .menu2:hover{
        border-top:none;
        border-bottom:3px #0065FC solid;
    }
    
    .menu3:hover {
        background:#0065FC;
        color:#fff;
        transition-duration: 1s;
    }

    .menu1:active {
        border-top:none;
        border-bottom:3px #0065FC solid;
    }
    
    .login {
        display:flex;
        order:2;
        align-content: center;
    }
    
    .login a {
        color:#0065FC;
    }
 
    article {
        margin:0;
    }

    #filtres {
        display: flex;
        flex-wrap: wrap;
    }

    #filtres h3 {
        padding-bottom:10px;
    }

    .filtre4 {
        width:auto;
    }

    #recherche {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top:-20px;
    }
    
    .contenu {
        display: flex;
        flex-wrap: wrap;
        align-items:initial;
    }

    #allResults {
        order:2;
        border-radius:30px;
        width:100%;
        background:#F2F2F2;
        margin:20px 30px;
    }
    
    #allResults h2{
        margin:40px 40px;
        font-size:1.em;
    }
    
    #allResults .bottom {
        padding: 10px 0 0 50px;
        font-weight:bold;
        font-size:1em;
    }
    
    #cards1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .card1 {
        background:#fff;
        border-radius:20px;
        box-shadow:#caca 0 0 10px;
        margin:0 20px 20px 20px;
        width:100%;
        padding: 10px;
    }
    
    .card1 h3 {
        margin-top:10px;
    } 
    
    .card1 p {
        font-size:1em;
        margin-top:-10px;
    }
    
    .card1 .fas {
        margin-top:-10px;
    }
    
    .imageCard1 {
        display: inline-block;
        width:100%;
        height:150px;
        border-radius:15px 15px 0 0;
        overflow: hidden;
        padding:0!important; 
        margin:0!important; 
    }
    
    .imageCard1 img {
        object-fit: cover;
        object-position: bottom;
        width:100%;
    }
    
    #mostPopular {
        order:1;
        border-radius:30px;
        width:30%;
        background:#F2F2F2;
        margin:0px 30px;
        flex:1;
    }
    
    #mostPopular .title {
        display:flex;
        align-items: center;
        padding:10px 0;
        width:100%;
    }
    
    #mostPopular h2 {
        display:flex;
        margin: 20px 0 20px 40px;
        font-size:1.5em;
        flex-grow:1;
    }
    
    #mostPopular .title .fas {
        padding:10px 20px 0 0;
        font-size:1em;
    }
    
    #mostPopular .title p {
        flex-grow:1;
        padding:10px 30px;
    }
    
    .detailsPopular {
        display:flex;
        flex-direction: column;
        width:60%;
        margin:0;
    }
    
    .detailsPopular p {
        margin-top:-10px;
        font-size:0.8em;
    }
    
    .detailsPopular .fas {
        margin:0;
    }
    
    #cards2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding:10px;
    }
    
    .card2 img {
        flex:1;
        width:100%;
        height:150px;
    }
    
    .card2 p img {
        width:50px;
    }
    
    .card2 {
        display:flex;
        background:#fff;
        border-radius:20px;
        box-shadow:#caca 0 0 10px;
        justify-content: center;
        margin-bottom:50px;
        width:100%;
    }
    
    #cards2 img {
        display:flex;
        border-radius:20px 0 0 20px;
        height:150px;
        padding:10px;
        object-fit: cover;
        object-position: center;
    }

    .titreActivites {
        margin: 10px 30px;
    }
    
    #activites {
        order:3;
        display:flex;
        flex-wrap: wrap;
        width:100%;
        position:relative;
        justify-content: space-between;
        box-sizing: border-box;
        padding:30px;
    }
    
    .activitesColonne1 {
        width:100%;
        height:inherit;
    }
    
    .activitesColonne1 .card3 {
        height:300px;
    }
    
    .activitesColonne2, .activitesColonne3 {
        display:flex;
        width:100%;
        flex-direction: column;
        justify-content: space-between;
        height:inherit;
    }
    
    .activitesColonnes1 img {
        width:unset;
        height:100%;
    }
    
    .activitesColonne2 img, .activitesColonne3 img {
        min-width:100%;
        height:unset;
        width:unset;
    }
    
    .activitesColonne2 .card3, .activitesColonne3 .card3 {
        height:300px;
    }
    
    .activitesColonne2 .card3:nth-child(1) {
        height:300px;
    }
    
    .activitesColonne2 .card3:nth-child(2) {
        height:300px;
    }
    
    .card3 {
        display:flex;
        justify-content:center;
        position:relative;
        box-shadow:#caca 0 0 10px;
        border-radius: 20px;
        width:100%;
        height:300px;
        box-sizing: border-box;
        overflow:hidden;
        z-index:1;
        margin-bottom:20px;
    }
    
    .card3 img {
        display:flex;
        position:relative;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
        object-position: center;
    }
    
    .card3 h5 {
        position:absolute;
        z-index:2;
        bottom:0;
        background:#fff;
        margin:0;
        left:0;
        right:0;
        padding:1.5em;
    }
    
    footer {
        height:500px;
    }
    
    #footer {
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}

@media (min-width: 768px) {

}

@media (min-width: 1200px) {

}